* {
    margin: 0;
    padding: 0;
    font-family: Basis_Grotesque_Pro_Bold;;
}

.header {
    padding: 16px;
    border-bottom: 0.5px solid #c8c9ce;
}

.restaurant-body {
    width: 1080px;
    margin: 0 auto;
    padding: 36px 16px;
}

.restaurant-card-body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 36px;
}

.restaurant-card {
    cursor: pointer;
    margin-bottom: 16px;
    width: 240px;
}

.mock-restaurant-card {
    margin-bottom: 36px;
}

.restaurant-card img {
    border-radius: 12px;
    height: 150px;
    width: 240px;
    transition: all 0.3s ease;
}

.restaurant-card img:hover {
    height: 145px;
    width: 235px;
}

.restaurant-card-content {
    padding: 6px;
}

.restaurant-card-content h5 {
    font-size: 18px;
    font-weight: 600;
    width: 220px;
    height: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.restaurant-card-content h6 {
    font-size: 16px;
    font-weight: 500;
    width: 220px;
    height: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-top: 4px;
}

.mock-restaurant-img {
    border-radius: 12px;
    height: 150px;
    width: 240px;
    background-color: #bdc1cd;;
}

.mock-restaurant-card-content {
    margin-top: 6px;
}
    
.mock-restaurant-card-content h5 {
    width: 220px;
    height: 12px;
    background-color: #bdc1cd;
    border-radius: 0 4px 4px 0;
    margin-top: 16px;
}

.mock-restaurant-card-content h6 {
    width: 200px;
    height: 10px;
    background-color: #bdc1cd;;
    margin-top: 8px;
    border-radius: 0 4px 4px 0;
}

.top-rated-btn {
    padding: 8px;
    cursor: pointer;
}

.btn-container {
    display: flex;
    gap: 60px;
}

.search-container {
    width: 60%
}

.search-container #search-input {
    padding: 4px;
    height: 32px;
    width: 80%;
}

.search-container #search-button {
    width: 10%;
    height: 32px;
}

